body{
	background-image: url("Sfondo3.jpg");
}

h1, h3 {
	font-family: Palatino Linotype;
	text-align: center;
	letter-spacing: 0.25em;
}

a:link {
	color: darkred;
}

a:visited{
	color: mistyrose;
}

div{
	background-color: lightsalmon;
}

div p{
	color: red;
}

div dd{
	text-decoration: underline;
}

table{
	text-align: center;
}

img{
	width: 240px;
	height: 240px;
}

a img{
	width: 35px;
	height: 35px;
}
